body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url("background.jpg");
  background-size: cover;
}

.title{
  float: left;
  color: orange;
  font-size: 32px;
  margin: 5px;
  margin-left: 15px;
  font-family: futura;
}

.addDancerButton, .lineUpButton, .dancer-label, .explodeButton {
  padding:5px 12px;
  float:right;
  background-color: black;
  text-decoration: none;
}

.dancer-label {
  font-family: monospace;
  color: orange;
  margin: 5px;
}

.addDancerButton, .lineUpButton, .explodeButton {
  border: 2px solid dodgerblue;
  font-family: monospace;
  color: dodgerblue;
  margin: 5px;
}

.addDancerButton:hover, .lineUpButton:hover, .explodeButton:hover {
  border: 2px solid white;
  color: white;
}

.topbar{
  height:32px;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.pointy{
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid green;
  position:absolute;
}

.inverse-pointy{
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid green;
  position:absolute;
}

.marcus{
  background-image: url('marcus.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 90px;
  position:absolute;
}

.angler{
  background-image: url('angler.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 50px;
  position:absolute;
}

.angler-flip, .marcus-flip {
  -moz-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.explosion {
  background-image: url('explosions.gif');
  width: 80%;
  position: absolute;
}
